*{
    box-sizing: border-box;
}
.main{
    display: flex;
    background: red;
    width: 800px;
    height: 800px;
    margin: auto;
    padding: 10px;
    flex-direction: column;
}
.top{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    flex-direction: column;
}
.blue{
    background: blue;
    width: 100%;
    height: 90px;
}
.bottom{
    width: 100%;
    height: 75%;
    padding: 10px;
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    background:pink;
    margin-top: 10px;
    overflow-x:scroll ;
}
.green1{
    display: flex;
    width: 200px;
    height: 100%;
    background: green;
    flex-direction: column;
    overflow-y: scroll;
    column-gap: 0;
    padding: 5px;
}
.red{
    background: red;
    width: 95%;
    height: 100px;
    margin: 5px;
    flex-shrink: 0;
}
.greensmall{
    width: 200px;
    height: 60%;
    background: green;
}
